# Mission 1

For each cell, execute the code and answer the question before moving on to the next.

In [2]:
names = ["Fredy", "Nicolas", "Alexandre"]

for i in enumerate(names):
  print(i)

print(type(i))

(0, 'Fredy')
(1, 'Nicolas')
(2, 'Alexandre')
<class 'tuple'>

1. What type of object is returned as output?  
Hint: You can use `type(i)`.

Answer:

In [ ]:
# what is returned is a tuple

In [5]:
for i, val in enumerate(names):
  print(val)

print(type(i))
print(type(val))

Fredy
Nicolas
Alexandre
<class 'int'>
<class 'str'>

2. What does `i` correspond to?  
What does `val` correspond to?  
Why is it so?

Answer:

In [ ]:
# "i" is an "int". It correspond to the index of each values inside the list "names"
# "val" is a "str". It corresponds to the values of the elemetns inside the list "names"

In [2]:
names = ["Fredy", "Nicolas", "Alexandre"]

for val, i in enumerate(names):
  print(val)

0
1
2

3. This time, `i` returns first names and `val` returns numbers. Why is it so?

Answer:

In [ ]:
# i returnthe index of the lsits
# val returns the value of the tuple

4. What does the built in function `enumerate` do?
In what cases can it be useful?

Answer:

In [ ]:
# la fonction enumerate() ajoute un compteur à un objet itérable
# cette fonction évite l'utilisation de variable supplémentaire pour compter les éléments d'une séquence

# Mission 2

In [5]:
test_list = ['Hi', 'my', 'name', 'is', "hi", "my","name", "is", "chickychicky"]

test_list[8] = "Marshall"

test_list

['Hi', 'my', 'name', 'is', 'hi', 'my', 'name', 'is', 'Marshall']

1. What does the 8 in square brackets mean?  
What action has been performed?

Answer:

In [ ]:
# it means that an element will be inserted at teh eight position in the list
# element "marshall" has replaced element "chickychicky"

In [7]:
test_list = ['Hi', 'my', 'name', 'is', "hi", "my","name", "is", "chickychicky"]

for i in range(4):
  print(test_list[i])

Hi
my
name
is

2. What does `range(4)` mean?  
Why are only the first 4 elements of `test_list` displayed?

Answer:

In [ ]:
# range(4) means that the 4 first elements are concerned by the loop
# because this is the result of the range(4) instruction

In [8]:
test_list = ['Hi', 'my', 'name', 'is', "hi", "my","name", "is", "chickychicky"]

for i in range(2, 8, 2):
  print(test_list[i])

name
hi
name

3. What does `range(2,8,2)` mean ?  
Why are only the elements 'name', 'hi' and 'name' displayed?

In [ ]:
#  range (2, 8, 2) means that loop will go through the range from 2 until 8 with a step of 2
# it is because the last index is exclued (8) and we have a step of 2, so the last index is the 6th ==> "name"

Answer:

# Mission 3

In [ ]:
numbers = [2,3,1,5,9]

for i in range(10,15):
  numbers.append(i)

numbers

[2, 3, 1, 5, 9, 10, 11, 12, 13, 14]

1. What does `range(10,15)` mean ?  
  What is the purpose of the method `append()` ?

Answer:

In [ ]:
# range(10, 15) means that elements from 10 until 14 (15 is exclued) will be inserted at the end of the list, because of the .append method
# .append method can insert one or multiples elements at the end of a list. no need to insert them one by one

2. What is the purpose of the `del` command?

Answer:

In [ ]:
# del command will be used if we ant to delete a element from then list
# we will target the index inside the list ==> syntax : del list[3]

# Mission 4

In [10]:
import random

random.randint(0,10)

6

1. What can the method `randint()` do ?

Answer:

In [ ]:
# random.randint method returns randomly an integer number selected element from the specified range.
# this method is an alias for randrange(start, stop+1)

2. What can the method `.insert()` do ?  
You must answer using the terms 'parameter' and 'argument'.

Answer:

In [ ]:
# .insert method inserts the specified value at the specified position
# syntax : list.insert(2 , "bernard")
# this method takes two parameters :
    # index: the position where the element needs to be inserted
    # argument: this is the element to be inserted in the list

# Mission 5

In [2]:
test_list = ['Hi', 'my', 'name', 'is', "hi", "my","name", "is", "chickychicky"]

test_list = " ".join(test_list)

print(test_list)
print(type(test_list))

Hi my name is hi my name is chickychicky
<class 'str'>

1. What can the `.join()` method do?  
What is the type of `test_list` before using `.join()`?  
What is the type of `test_list` after using `.join()`?

Answer:

In [ ]:
# .join method is about to return joined elements from a list without comas
# before using .join method the sequence is a list
# after using the .join method the sequence is a str

In [9]:
christmas = "Noël c'est bien, mais attention à ne pas manger trop de chocolat. On le sait, mais on le fais à chaque fois. C'est la vie"

christmas.split()

['Noël',
 "c'est",
 'bien,',
 'mais',
 'attention',
 'à',
 'ne',
 'pas',
 'manger',
 'trop',
 'de',
 'chocolat.',
 'On',
 'le',
 'sait,',
 'mais',
 'on',
 'le',
 'fais',
 'à',
 'chaque',
 'fois.',
 "C'est",
 'la',
 'vie']

2. What can the `.split()` method do?  
What is the type of `christmas` before using `.split()`?  
What is the type of `christmas` after using `.split()`?

Answer:

In [19]:
# .split method allows to slice each elements of a sequence
# before using the .split method, the sequence christmas is a str
# after using the .split method, the sequence christmas became a list

In [13]:
christmas = "Noël c'est bien, mais attention à ne pas manger trop de chocolat. On le sait, mais on le fait à chaque fois. C'est la vie"


christmas.split("à")

["Noël c'est bien, mais attention ",
 ' ne pas manger trop de chocolat. On le sait, mais on le fait ',
 " chaque fois. C'est la vie"]

3. Why does the `.split()` method split the `string` into 3 elements?

Answer:

In [ ]:
# because the instruction to cut the string in 3 was said using ("à")