# Mission 1

Create a tuple of your choice containing 10 elements in this order:
- 3 integers
- 3 strings
- 2 lists containing 3 items each
- 2 dictionaries containing 3 items (3 key/value pairs) each

In [34]:
my_tuple = (1, 2, 3, 
            "je", "suis", "aurelien",
            [4, 5, 6],
            [7, 8, 9],
            {"prenom": "Aurélien",
             "nom": "Prat",
             "age": 40},
             {"ville": "Merignac",
              "profession": "wilder",
              "objectif": "data analyst"})
print(type(my_tuple))

len(my_tuple)

<class 'tuple'>

10

Now, access the second-to-last item in the second list.

In [4]:
my_tuple = (1, 2, 3, 
            "je", "suis", "aurelien",
            [4, 5, 6],
            [7, 8, 9],
            {"prenom": "Aurélien",
             "nom": "Prat",
             "age": 40},
             {"ville": "Merignac",
              "profession": "wilder",
              "objectif": "data analyst"})


print(my_tuple[7][1:2])

[8]

# Mission 2

In the same tuple, access the last 4 elements using slicing.

In [51]:
my_tuple = (1, 2, 3, 
            "je", "suis", "aurelien",
            [4, 5, 6],
            [7, 8, 9],
            {"prenom": "Aurélien",
             "nom": "Prat",
             "age": 40},
             {"ville": "Merignac",
              "profession": "wilder",
              "objectif": "data analyst"})

print(my_tuple[6:10])           # affichage des 4 derniers elements du tuple ==> 2 listes et 2 dict

([4, 5, 6], [7, 8, 9], {'prenom': 'Aurélien', 'nom': 'Prat', 'age': 40}, {'ville': 'Merignac', 'profession': 'wilder', 'objectif': 'data analyst'})

# Mission 3

Change the value of the 4th element (the first string) of your tuple (since tuples are immutable, this means recreating a tuple where this element is changed).

In [53]:
my_tuple = (1, 2, 3, 
            "je", "suis", "aurelien",
            [4, 5, 6],
            [7, 8, 9],
            {"prenom": "Aurélien",
             "nom": "Prat",
             "age": 40},
             {"ville": "Merignac",
              "profession": "wilder",
              "objectif": "data analyst"})


my_list = [element for element in my_tuple]             # convertir le tuple en liste : compréhension de liste
print(my_list)

my_list[3] = "moi"                                      # modifier le str converné ==> on slice avec l'index de la liste 
print(my_list)

my_tuple = tuple(my_list)                               # convertir la lsite modifiée en tuple ==> assignation de la classe tuple a la liste
print(my_tuple)

[1, 2, 3, 'je', 'suis', 'aurelien', [4, 5, 6], [7, 8, 9], {'prenom': 'Aurélien', 'nom': 'Prat', 'age': 40}, {'ville': 'Merignac', 'profession': 'wilder', 'objectif': 'data analyst'}]
[1, 2, 3, 'moi', 'suis', 'aurelien', [4, 5, 6], [7, 8, 9], {'prenom': 'Aurélien', 'nom': 'Prat', 'age': 40}, {'ville': 'Merignac', 'profession': 'wilder', 'objectif': 'data analyst'}]
(1, 2, 3, 'moi', 'suis', 'aurelien', [4, 5, 6], [7, 8, 9], {'prenom': 'Aurélien', 'nom': 'Prat', 'age': 40}, {'ville': 'Merignac', 'profession': 'wilder', 'objectif': 'data analyst'})

# Mission 4

Create 2 tuples of the same length that contain only integers.

Then create a script that compares the sum of their elements and displays the tuple that has the highest total.

In [5]:
tuple_1 = (100, 20, 30, 40, 25)
tuple_2 = (20, 30, 60, 5, 15)

# print(sum(tuple_1))
# print(sum(tuple_2))

# print(sum(tuple_1) < sum(tuple_2))              # le tuple_2 a la somme la plus élevée


if sum(tuple_2) > sum(tuple_1):                 
    print(f'La somme du tuple_2 est de {sum(tuple_2)}. Elle est plus élevée que la somme du tuple_1, qui est de {sum(tuple_1)}.')
elif sum(tuple_1) > sum(tuple_2):
    print(f'La somme du tuple_1 est de {sum(tuple_1)}. Elle est plus élevée que la somme du tuple_2, qui est de {sum(tuple_2)}.')

La somme du tuple_1 est de 215. Elle est plus élevée que la somme du tuple_2, qui est de 130.

# Mission 5

Here's a tuple:

`my_tuple = ("data analyst", "data scientist", "data engineer", "data architect")`

Ask the user for a string, then for an integer position. Create an altered copy of `my_tuple` where the element at the given position is now the given string.

In [41]:
first_user_input = input("Please insert a word")            # premier input user
print(first_user_input)

second_user_input = int(input("Please insert a position"))  # second input user
print(second_user_input)

my_tuple = ("data nanlsyt", "data scientist",               # instanciation du tuple initial
            "data engineer", "dagta architect")

my_list = list(my_tuple)                                    # conversion du tuple en liste pour modification
print(my_list)

my_list.insert(second_user_input - 1, first_user_input)     # insertion de int user input a la position 3 ==> -1 car position != index
print(my_list)

my_tuple = tuple(my_list)                                   # conversion de la liste modifée en tuple 
print(my_tuple)                                             # affichage final

Aurelien
3
['data nanlsyt', 'data scientist', 'data engineer', 'dagta architect']
['data nanlsyt', 'data scientist', 'Aurelien', 'data engineer', 'dagta architect']
('data nanlsyt', 'data scientist', 'Aurelien', 'data engineer', 'dagta architect')