There is another object type we haven't talked about: `set`  
It looks like a `dictionary`, but it's not a dictionary.

In [ ]:
my_set = {"apple", "kiwi", "pineapple"}

In [ ]:
type(my_set)

set

Question : Why isn't `my_set` an object from the `dict` class ?

Answer :

In [ ]:
# because sets are unordered, unchangeable, and every elements inside are unique

Another specificity from `set` object is that they cannot have two items with the same values.

Execute the cells below.

In [1]:
a_set = {"banana", "lemon", "lemon", "cherry", "lemon", "strawberry", "lemon" }

In [2]:
a_set

{'banana', 'cherry', 'lemon', 'strawberry'}

Question :  

Hom many items do the sets below have ?

To answer, you can use your knowledge or the `len()` function.

In [ ]:
this_set = {1, 2, 3, 1, 2, 4, 1, 4, 3, 5, 6, 8, 9, 8, 3, 7, 6, 8, 6, 8, 9}

In [4]:
this_set = {1, 2, 3, 1, 2, 4, 1, 4, 3, 5, 6, 8, 9, 8, 3, 7, 6, 8, 6, 8, 9}
len(this_set)

9

Question :  

Can a set contain elements with differents types ?

In [ ]:
# Yes

In [6]:
# try to make a set with objects with different types here:
answer = {"hey", 2, True, 2.33}
print(answer)

{'hey', True, 2, 2.33}

Question :  

Using the list below, there is a simple way to know the amount of unique values from this list.

What is it ?

In [2]:
a_list = [1, 2, 3, 1, 2, 4, 1, 4, 3, 5, 6, 8, 9, 8, 3, 7, 6, 8, 6, 8, 9]

a_set = set(a_list)
print(len(a_set))

9

There are four collection data types in the Python programming language:

* `List` is a collection which is ordered and changeable. Allows duplicate members.
* `Tuple` is a collection which is ordered and unchangeable. Allows duplicate members.
* `Set` is a collection which is unordered, unchangeable, and unindexed. No duplicate members, but you can remove items and add new items.
* `Dictionary` is a collection which is ordered and changeable. No duplicate members.

Question :   
Find a way to access to the first value of `this_set`

In [1]:
this_set = {1, 2, 3, 1, 2, 4, 1, 4, 3, 5, 6, 8, 9, 8, 3, 7, 6, 8, 6, 8, 9}

a_this_set = list(this_set)
print(a_this_set[0])

1

Question :  
Find a way to add a value that will be unique in `a_set`

In [16]:
a_set

a_set.add("apple")      # utilisation de la fonction add pour ajouter une valeur à un set
print(a_set)

{'banana', 'cherry', 'apple', 'strawberry', 'lemon'}

Question :  
Now, you have to add the value from `this_set` to `a_set`:

In [17]:
this_set = {1, 2, 3, 1, 2, 4, 1, 4, 3, 5, 6, 8, 9, 8, 3, 7, 6, 8, 6, 8, 9}

a_set

this_set.union(a_set)       # utilisation de l'opération .union

{1, 2, 3, 4, 5, 6, 7, 8, 9, 'apple', 'banana', 'cherry', 'lemon', 'strawberry'}

Question :    

If you display a `set` object, it won't display with the same order you define it.

What can you say about the order the element are display ?

Answer :

In [ ]:
# elements are dispalyed randomly, because set is an unordered object

Question :   

Find a way to display the elements that exist in both sets.

In [18]:
a_set = {"banana", "grapes", "cherry", "pineapple", "kiwi", "strawberry"}

b_set = {"lemon", "kiwi", "grapes", "blueberry", "watermelon"}

a_set.intersection(b_set)       # utilisation de l'opération .intersection

{'grapes', 'kiwi'}

There is other methods for `set` objects, that you can find [here](https://www.w3schools.com/python/python_ref_set.asp).